In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
import qgrid

In [2]:
data = pd.read_excel("Order.xlsx", index_col=0,sheetname=1)
data.head()

,1,10,23,25,27,28,34,45,54,79,...,49533,49567,49588,49605,49610,49618,49621,49628,49667,49683
Row Labels,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
frequent_itemsets = apriori(data, min_support=0.01, use_colnames=True)

In [4]:
frequent_itemsets.head()

    support itemsets
0  0.011271     [45]
1  0.013776   [4210]
2  0.021916   [4605]
3  0.014402   [4799]
4  0.021290   [4920]

In [5]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.head()

  antecedants consequents   support  confidence      lift
0     (24852)     (21903)  0.162179    0.119691  1.837949
1     (21903)     (24852)  0.065122    0.298077  1.837949
2     (26209)     (24852)  0.039449    0.269841  1.663848
3     (24852)     (26209)  0.162179    0.065637  1.663848
4     (24852)     (16797)  0.162179    0.077220  1.622638

In [6]:
rules.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
antecedants    30 non-null object
consequents    30 non-null object
support        30 non-null float64
confidence     30 non-null float64
lift           30 non-null float64
dtypes: float64(3), object(2)
memory usage: 1.2+ KB

In [7]:
rules[rules["lift"]>1.5]

   antecedants consequents   support  confidence      lift
0      (24852)     (21903)  0.162179    0.119691  1.837949
1      (21903)     (24852)  0.065122    0.298077  1.837949
2      (26209)     (24852)  0.039449    0.269841  1.663848
3      (24852)     (26209)  0.162179    0.065637  1.663848
4      (24852)     (16797)  0.162179    0.077220  1.622638
5      (16797)     (24852)  0.047589    0.263158  1.622638
6      (49683)     (24852)  0.026925    0.372093  2.294334
7      (24852)     (49683)  0.162179    0.061776  2.294334
8      (24852)     (47766)  0.162179    0.100386  2.003958
9      (47766)     (24852)  0.050094    0.325000  2.003958
10     (13176)     (27966)  0.117095    0.122995  3.021884
11     (27966)     (13176)  0.040701    0.353846  3.021884
12     (13176)     (47209)  0.117095    0.171123  2.602699
13     (47209)     (13176)  0.065748    0.304762  2.602699
14     (45066)     (24852)  0.031935    0.392157  2.418048
15     (24852)     (45066)  0.162179    0.077220  2.418048
16     (25890)     (24852)  0.021916    0.457143  2.818753
17     (24852)     (25890)  0.162179    0.061776  2.818753
18     (24852)     (27845)  0.162179    0.069498  1.947165
19     (27845)     (24852)  0.035692    0.315789  1.947165
20     (28204)     (24852)  0.030056    0.479167  2.954553
21     (24852)     (28204)  0.162179    0.088803  2.954553
22     (21137)     (47209)  0.081403    0.169231  2.573919
23     (47209)     (21137)  0.065748    0.209524  2.573919
26     (13176)     (21137)  0.117095    0.155080  1.905101
27     (21137)     (13176)  0.081403    0.223077  1.905101

In [8]:
rules.to_excel("Rules_Final.xlsx")