In [1]:
import pandas as pd
from statsmodels.formula.api import ols

In [2]:
data = pd.read_excel("Conjoint_Survey.xlsx")
data.head()

   ID  Rank  A1  A2  A3  B1  B2  C1  C2  C3
0   1     4   1   0   0   1   0   0   1   0
1   1     5   1   0   0   1   0   1   0   0
2   1     2   1   0   0   1   0   0   0   1
3   1     2   0   1   0   1   0   0   1   0
4   1     3   0   1   0   1   0   1   0   0

In [3]:
coef_df=pd.DataFrame(columns=range(33))

In [4]:
for i in range(33):
    model_ols = ols(formula="Rank ~ A1 + A2 + A3 +B1 + B2 + C1 + C2 + C3", data=data.iloc[i*12:i*12+12,1:])
    our_results = model_ols.fit()
    coef = our_results.params
    coef_df[i]=coef

In [5]:
coef_df.head()

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
Intercept,1.000000e+00,1.307692,1.897436,1.461538,1.333333,2.102564,1.538462,1.333333,1.897436,1.769231,...,1.897436,1.641026,1.717949,1.846154,1.230769,1.384615,1.538462,1.358974,1.102564,1.692308
A1,1.666667e+00,0.435897,0.854701,0.487179,-1.444444,1.145299,0.846154,2.222222,1.521368,0.589744,...,0.521368,2.324786,1.017094,0.948718,0.410256,0.461538,0.846154,0.675214,-0.854701,0.230769
A2,1.776357e-15,0.435897,0.854701,0.487179,0.888889,1.478632,0.846154,-0.111111,0.521368,1.256410,...,1.188034,0.658120,0.683761,0.282051,0.410256,0.461538,0.846154,0.341880,0.478632,0.897436
A3,-6.666667e-01,0.435897,0.188034,0.487179,1.888889,-0.521368,-0.153846,-0.777778,-0.145299,-0.076923,...,0.188034,-1.341880,0.017094,0.615385,0.410256,0.461538,-0.153846,0.341880,1.478632,0.564103
B1,6.666667e-01,1.820513,1.282051,2.897436,2.333333,1.384615,2.102564,1.000000,0.948718,1.051282,...,0.948718,1.487179,0.025641,1.256410,0.615385,0.692308,1.435897,1.846154,0.717949,1.512821

In [6]:
coef_df.to_excel("Anna_coef.xlsx")